{% extends 'base.html' %}
{% import 'components/back_button.html' as back_btn %}
{% block back %}
{{ back_btn.back(url_for('folder.view_folder', folder_id=folder.id), 'Voltar para pasta') }}
{% endblock %}
{% block content %}
<h1>Arquivos de {{ folder.name }}</h1>
<form method="post" enctype="multipart/form-data" class="card guarded-form">
  {{ form.hidden_tag() }}
  <div class="field">{{ form.file() }}</div>
  <div class="d-flex gap-2">
    {{ form.submit(class_='btn') }}
    <a href="{{ url_for('folder.view_folder', folder_id=folder.id) }}" class="btn btn-secondary btn-cancel">Cancelar</a>
  </div>
</form>
{% set assets = assets %}
{% include 'asset/gallery.html' %}
{% endblock %}
