{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center">
  <form method="post" class="card shadow-soft rounded-md" style="max-width: 400px; width:100%;">
    {{ form.hidden_tag() }}
    <div class="field">
      {{ form.email.label }} {{ form.email(size=32) }}
    </div>
    <div class="field">
      {{ form.password.label }} {{ form.password(size=32) }}
    </div>
    <div class="d-flex gap-2">
      {{ form.submit(class_='btn') }}
      <a href="{{ url_for('main.index') }}" class="btn btn-outline-secondary">Voltar</a>
    </div>
  </form>
</div>
{% endblock %}
