{% extends 'base.html' %}
{% block title %}{{ folder.name }}{% endblock %}
{% block content %}
<h1>{{ folder.name }}</h1>
<p><a href="{{ url_for('library.show_library', lib_id=folder.library_id) }}">Voltar para biblioteca</a></p>
<a href="{{ url_for('asset.upload_asset', folder_id=folder.id) }}" class="btn"><i class="bi bi-upload"></i> Enviar Arquivo</a>
<a href="{{ url_for('folder.create_folder') }}?library_id={{ folder.library_id }}&parent_id={{ folder.id }}" class="btn"><i class="bi bi-folder-plus"></i> Nova Subpasta</a>
<ul>
  {% for sub in subfolders %}
  <li><a href="{{ url_for('folder.view_folder', folder_id=sub.id) }}">{{ sub.name }}</a></li>
  {% else %}
  <li>Nenhuma subpasta</li>
  {% endfor %}
</ul>
{% endblock %}
